<!DOCTYPE html>
<html>

<header class="sticky-top">
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">お取り寄せナビ</a>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">お問い合わせ</button>
    <button type="button" class="btn btn-primary">ログイン</button>
    <button type="button" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg></button>
  </div>
  </div>
</nav> 
</header>


<main row="main">

<hr class="featurette-divider">

<body>
  <div class="wrap">
  <form class="login">
    <div class="toggle-bar">
      <div class="toggle-login active">
        <span>Login</span>
      </div>
      <div class="toggle-register">
        <span>Register</span>
      </div>
    </div>
    <div class="login-body">
      <div class="input-section">
        <i class="fas fa-user"></i>
        <input class="user-input" type="text" placeholder="Username">
      </div>
      <div class="input-section">
        <i class="fas fa-lock"></i>
        <input class="user-input" type="password" placeholder="Password">
      </div>
      <p id="forgot-password">Forgot your password?</p>
      <button class="btn" id="btn-login">Login</button>
    </div>
    <div class="register-body" style="display:none;">
      <div class="input-section">
        <i class="fas fa-user"></i>
        <input class="user-input" type="text" placeholder="Username">
      </div>
      <div class="input-section">
        <i class="fas fa-envelope"></i>
        <input class="user-input" type="email" placeholder="Email">
      </div>
      <div class="input-section">
        <i class="fas fa-lock"></i>
        <input class="user-input" type="password" placeholder="Password">
      </div>
      <p id="registered">Already registered?</p>
      <button class="btn btn-action" id="btn-register">Register</button>
    </div>
  </form>  
</div>
</body>
</main>

<footer>
<div class="footer05">
 <div class="wrap">
  <div class="box">

  <div class="button010">
    <a href="#">お問い合わせ</a>
  </div>


  </div>
  <div class="box">
    <h3>キーワード一覧</h3>
    <ul>
      <li><a href="#">コラム</a></li>
      <li><a href="#">ストーリーズ</a></li>
    </ul>
  </div>
  <div class="box">
    <h3>人材募集</h3>
    <ul>
    <li><a href="#">新入社員募集</a></li>
    <li><a href="#">正社員募集</a></li>
    </ul>
  </div>
  <div class="box">
    <h3>その他</h3>
    <ul>
    <li><a href="#">お知らせ</a></li>
    <li><a href="#">サイト利用規約</a></li>
    </ul>
  </div>
  <p class="copyright">
    &copy; My Site
  </p>
</div>
</div>
</footer>


</html>